@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #131f37;
}

:root {
  font-family: "Poppins", sans-serif;
}

html {
  row-gap: 0;
}

.banner {
  display: grid;
  grid-template-columns: 3fr 4fr;
  /* overflow: hidden; */
}

.banner .box {
  position: relative;
  background-color: #131f37;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  max-width: 200px;
}

header ul {
  display: flex;
  gap: 60px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}

header ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

.banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.banner .content .contentBox {
  text-align: center;
}

.banner .content .contentBox p {
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.banner .content .contentBox .btn {
  display: inline-block;
  font-size: 1.2rem;
  background-color: #e62429;
  color: white;
  border-color: #e62429;
  padding: 8px 18px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  margin-right: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.banner .content .contentBox .btn:hover {
  background-color: rgba(230, 36, 41, 0.5);
}

.banner .image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.banner .image .bxImg {
  position: relative;
  width: 50%;
  height: 50vh;
}

.banner .image .bxImg:nth-child(1) {
  margin-top: .5rem;
}

.banner .image .bxImg:nth-child(2) {
  margin-top: .5rem;
  /* margin-right: .4rem; */
}

.banner .image .bxImg:nth-child(3) {
  margin-bottom: 1rem;
  /* margin-right: .4rem; */
  width: 100%;
}

.banner .image .bxImg img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 980px) {
  .banner {
    grid-template-columns: 1fr;
  }

  header {
    padding: 20px 40px;
  }

  .banner .content {
    padding: 40px;
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .banner .image .bxImg {
    height: 70vh;
    width: 50%;
  }

  .banner .content {
    height: 70vh;
  }
}